{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {% if app.user %}
        <h1>Notre page d’accueil Bienvenu : {{ app.user.username }}</h1>
    {% else %}
        <h1>Notre page d’accueil</h1>
    {% endif %}
</div>
{% endblock %}